.card {
  .power {
    margin: 0px;
  }
  .toughness {
    margin: 0px;
  }

  .description {
    margin: 0px;
  }

  .title {
    margin: 0px;
  }

  .manacost {
    margin: 0px;
  }

  .cmc {
    margin: 0px;
  }

  .font-medium {
    font-weight: 800;
  }

  .card-types {
    font-size: 1rem;
  }
}

.tapped {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mtg-card {
  width: 175px;
  height: auto;
}